<ion-view view-title="Category" cache-view="false">
  <link href="css/category.css" rel="stylesheet" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content ng-init="categoryinit()">
    <div ng-repeat="catvalue in resvalue | filter:filtercat" ng-show="catvalue.is_active == true;">
      <button class="mainbutton" type="submit" ng-click="mainCategory(catvalue.id)">{{catvalue.name}}</button>
      <br>

      <div class="subbutton" ng-repeat="subcat in resvalue1" ng-show="IsVisible" ng-click="subCategory(subcat)" ng-hide="subcat.is_active == false" ng-if="catvalue.id == subid">
        <p class="subtab">{{subcat.name}}</p>

      </div>
    </div>
    <!-- <div ng-show="netStatus=0">
               <center>Network connection failed</center>
             </div> -->

  </ion-content>




  <!-- <script id="productdetails.html"  type="text/ng-template" ng-controller="CategoryCtrl">
    <ion-modal-view cache-view="false">
    
            <ion-header-bar>                
                 <div class="row headercolor">      
                     <div class="col col-10"> <i class="icon ion-android-arrow-back backward" ng-click="closeproductdetails()"></i></div>
                     <div class="col col-80"> <p class="titlesub">{{subname}}</p></div>
                     <div class="col col-10"> <i class="icon ion-android-cart shoppingcart"><span class="badgetools">{{count}}</span></i> </div>
                </div>
            </ion-header-bar>  
            <ion-content style="background-color: #e0e0e0">
                
                <div style="background-color: #ffffff">
                 <img src="{{Image}}" class="imgproduct">
                 </div>
                
                
                 <center><p class="productdesc">{{Desc}}</p></center>

                 <p class="qusproduct">Item ID</p>
                 <p class="ansproduct">{{Itemid}}</p>

                 <p class="qusproduct">Manufacturer Part Number</p>
                 <p class="ansproduct">-</p>

                 <p class="qusproduct">Product Name</p>
                 <p class="ansproduct">{{productname}}</p>

                 <p class="qusproduct">Manufacturer Name</p>
                 <p class="ansproduct">-</p>
                  <br>
            <input type="text" ng-model="qtyvalue" placeholder="Quantity">
                 <div class="row">      
                   <div class="col col-50">
                      <button  ng-click="opencustomerdetails()" class="addtocart" >BUY NOW</button>
                   </div>
                   <div class="col col-50">
             <!         <button  ng-click="cartAdd(productRes,qtyvalue)" class="addtocart" >ADD TO CART</button>
                  </div>
                </div>     
                <button  ng-click="wishAdd(productRes)" class="addtocart" >Wish List</button> 
            </ion-content>
   </ion-modal-view>
</script>
 -->
  <div class="tabs tabs-icon-top">
        <a nav-clear class="tab-item disable-user-behavior" title="Home" icon-on="ion-ios-home-outline" icon-off="ion-ios-home-outline" nav-clear ui-sref="app.home">
          <i class="icon ion-ios-home-outline"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
          Home
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" ng-class="{catclass:'getclasscateg==1'}" title="Categories" icon-on="ion-ios-keypad-outline" icon-off="ion-ios-keypad-outline" ui-sref="app.category">
          <i class="icon ion-ios-keypad-outline" ng-class="{catclass:'getclasscateg==1'}"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
          Categories
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Customer Login" icon-on="ion-ios-person-outline" icon-off="ion-ios-person-outline" ui-sref="app.login">
          <i class="icon ion-ios-person-outline"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
          Customer Login
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Seller Login" icon-on="ion-ios-unlocked-outline" icon-off="ion-ios-unlocked-outline" ui-sref="app.sellerlogin">
          <i class="icon ion-ios-unlocked-outline"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
          Seller Login
        </a>
  </div> 
</ion-view>