<ion-view view-title="Enquiry Emails" cache-view="false">
 <link href="css/enquiry.css" rel="stylesheet" cache-view="false">  
  <ion-nav-buttons side="left">
        <button ng-hide="selectionActive" class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <button class="button button-icon icon ion-checkmark-circled" 
                ng-show="selectionActive" 
                ng-click="finish()">
        </button>
    </ion-nav-buttons>  
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-trash-b" 
                ng-show="selectionActive" 
                ng-click="delete()">
        </button>
    </ion-nav-buttons>  
  <ion-content>

   <ion-tabs class="tabs-striped tabs-top tabs-background-dark tabs-color-energized" ng-init="enquiryinit()" ng-click="finish()">
    <ion-tab title="Inbox" ui-sref="inbox">
      <ion-nav-view name="inbox">
          
          <!-- <div class="list">
            <div ng-show="longPress">
              <button ng-click="messagedel()" style="background-color: grey;width:100%;">Delete</button>
            </div>
            <a class="item item-avatar" ng-repeat="list in enquirylist track by $index" on-long-press="itemOnLongPress(list)" on-touch-end="itemOnTouchEnd(list)" ng-click="longpress(list.quickrfq_id)">
              <img id="profileImage" data-letters="{{list.contact_name[0]}}" ng-src="{{list.contact_name[0]}}" ng-hide="longPress" ng-click="setIconClick(list.quickrfq_id)">
              <i ng-show="longPress" class="icon ion-checkmark-circled" ng-click="setIconClick(list.quickrfq_id)"></i>
              <span ng-click="inboxdetail(list)"><h2>{{list.contact_name}}</h2>
              <p>{{list.overview}}</p></span>
              <div class="icon item-icon-right" ng-click="moveimportant(list)">
                <i class="icon ion-ios-star float-right" ng-style ="getStyle(list)"></i>
              </div> 
            </a>
          </div> -->

          <!-- <ion-list can-swipe="true">
            <ion-item ng-repeat="list in enquirylist track by $index" class="item item-avatar item-remove-animate">
              <img ng-src="http://safetyshop.in/home/pub/media/catalog/product{{list.product_image}}">
              <span ng-click="inboxdetail(list)"><h2>{{list.contact_name}}</h2>
              <p>{{list.overview}}</p></span>
              <div class="icon item-icon-right" ng-click="moveimportant(list)">
                <i class="icon ion-ios-star float-right" ng-style ="getStyle(list)"></i>
              </div> 
              <ion-option-button class="button-assertive icon ion-trash-a" ng-click="messagedel(list) ">
              </ion-option-button>
            </ion-item>
          </ion-list> -->
          <ion-list>
          <ion-item class="item-remove-animate"
                      letters-of="{{list.contact_name}}"
                      background="random"
                      border="none"
                      color="white"
                      letters="1"
                      item="{{list.quickrfq_id}}"
                      href="#/tab/enquirylist/{{list.id}}"
                      ng-repeat="list in enquirylist" >
                <span ng-click="inboxdetail(list)"><h2>{{list.contact_name}}</h2>
                <p>{{list.overview}}</p></span>
                <div class="icon item-icon-right" ng-click="moveimportant(list)">
                  <i class="icon ion-ios-star float-right" ng-style ="getStyle(list)"></i>
                </div> 
            </ion-item>
          </ion-list>

      </ion-nav-view>
    </ion-tab>
    <ion-tab title="Sent" ui-sref="sent">
       <ion-nav-view name="sent">
          <!-- <div class="list">
            <a class="item item-avatar" ng-repeat="list in sentlist" ng-click="sentdetail(list)">
              <img ng-src="http://safetyshop.in/home/pub/media/catalog/product{{list.product_image}}">
              <h2>{{list.contact_name}}</h2>
              <p>{{list.reply_subject}}</p>
            </a>   
          </div> -->
          <ion-list>
          <ion-item class="item-remove-animate"
                      letters-of="{{list.contact_name}}"
                      background="random"
                      border="none"
                      color="white"
                      letters="1"
                      item="{{list.quickrfq_id}}"
                      href="#/tab/sentlist/{{list.id}}"
                      ng-repeat="list in sentlist" >
                <h2>{{list.contact_name}}</h2>
                <p>{{list.reply_subject}}</p>
            </ion-item>
          </ion-list>
       </ion-nav-view>
    </ion-tab>
    <ion-tab title="Important" ui-sref="important">
      <ion-nav-view name="important">
          <!-- <div class="list">
            <a class="item item-avatar" ng-repeat="list in importantlist" on-long-press="itemOnLongPress(list.quickrfq_id)" on-touch-end="itemOnTouchEnd(list.quickrfq_id)">
              <img ng-src="http://safetyshop.in/home/pub/media/catalog/product{{list.product_image}}">
              <span ng-click="inboxdetail(list)"><h2>{{list.contact_name}}</h2>
              <p>{{list.overview}}</p></span>
              <div class="icon item-icon-right" ng-click="moveimportant(list)">
                <i class="icon ion-ios-star float-right" ng-style ="getStyle(list)"></i>
              </div> 
            </a>
          </div> -->

          <ion-list>
          <ion-item class="item-remove-animate"
                      letters-of="{{list.contact_name}}"
                      background="random"
                      border="none"
                      color="white"
                      letters="1"
                      href="#/tab/importantlist/{{list.id}}"
                      item="{{list.quickrfq_id}}"
                      ng-repeat="list in importantlist" >
                <span ng-click="inboxdetail(list)"><h2>{{list.contact_name}}</h2>
                <p>{{list.overview}}</p></span>
                <div class="icon item-icon-right" ng-click="moveimportant(list)">
                  <i class="icon ion-ios-star float-right" ng-style ="getStyle(list)"></i>
                </div> 
            </ion-item>
          </ion-list>
      </ion-nav-view>
    </ion-tab>
   </ion-tabs>
  </ion-content>   
</ion-view>