<ion-view cache-view="false">
  <link href="css/home.css" rel="stylesheet" cache-view="false">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <!-- <ion-nav-buttons side="right">
    
      <img src="img/safety_logo.jpg" style="width: 140px;height: 30px">
</ion-nav-buttons>
 -->
 <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-search-strong" ng-click="serachgo()">
    </button>
  </ion-nav-buttons>

  <ion-content ng-init="dashboardinit()" ng-cloak class="has-footer">
    <!-- <div ng-show="netStatus=1"> -->
    <!-- <div class="search">
      <label class="item item-input ">
        <input type="text" ng-click="serachgo()" placeholder="Search">
         <i class="icon ion-ios-search-strong searchicon" ng-click="searchBtn()"></i>
      </label>
    </div> -->
    <!--  {{homevalue[0].slider_image}} -->

    <!--   <div ng-repeat="img in homevalue[0].slider_image">{{img}}</div> -->
    <ion-slide-box on-slide-changed="slideHasChanged1($index)" auto-play="true" disable-scroll="true" show-pager="false" does-continue="true" slide-interval="{{interval}}">
      <ion-slide>
        <img ng-src="{{homevalue[0].slider_image[0]}}" style="width: 100%;height:70%;">
      </ion-slide>
      <ion-slide>
        <img ng-src="{{homevalue[0].slider_image[1]}}" style="width: 100%;height:70%;">
      </ion-slide>
      <ion-slide>
        <img ng-src="{{homevalue[0].slider_image[2]}}" style="width: 100%;height:70%;">
      </ion-slide>
    </ion-slide-box>



    <ion-scroll direction="x" class="wide-as-needed">
      <a class="button" ng-click="catagory(cate)" ng-repeat="cate in homevalue[0].category_list">{{cate.name}}</a>
    </ion-scroll>

    <div class="newarr">
     <h5>NEW ARRIVALS</h5>
     <p class="test"><p>
    </div>
<!--     <div style="background-color: #ffffff">
      <div class="cardproductgrid" ng-if="z.visibility == 4" ng-repeat="z in newarrive  | filter:filterUser" ng-click="productdetails(z.sku,z.name)" ng-hide="showme">
        <img ng-src="http://safetyshop.in/home/pub/media/catalog/product{{z.thumbnail}}" class="gridimg">
        <div class="container">
          <p class="titleproduct overme">{{z.name}}</p>
        </div>

      </div>
      <button ng-show="newarrstatus == 0" ng-click="newarrivemore()">Click More</button>
    </div> -->
    <ion-slide-box on-slide-changed="slideHasChanged2($index)" auto-play="true" disable-scroll="true" show-pager="true" does-continue="true" slide-interval="{{interval}}">
      <ion-slide ng-if="z.visibility == 4" ng-repeat="z in newarrive" dynamic-slides="newarrive" style="background-color: #ffffff;height:250px;">
       <div class="">
        <center><img ng-src="http://safetyshop.in/home/pub/media/catalog/product{{z.thumbnail}}" class="gridimg">
        <div class="container">
          <p class="titleproduct overme">{{z.name}}</p>
          <button class="button button-positive button-small ask" ng-click="productdetails(z.sku,z.name)">ASK FOR PRICE</button>
        </div></center>
       </div><br> 
      </ion-slide>
    </ion-slide-box>
    <div class="newarrimg">
      <img ng-src="{{homevalue[0].ad_image}}" style="width:100%;height:150px;" class="gridimg">
    </div>
    <div class="newarr">
      <h5>TESTIMONIALS</h5>
      <p class="test"><p>
    </div>
    <ion-slide-box on-slide-changed="slideHasChanged3($index)" auto-play="false" disable-scroll="true" show-pager="false" does-continue="false">
      <ion-slide ng-repeat="testi in homevalue[0].testimonials" dynamic-slides="homevalue[0].testimonials">
        <div class="item item-body">
          <center><img ng-src="{{testi.image}}" style="border-radius:50%;height:100px;width:30%"></center>
          <p>{{testi.description}}</p>
          <div class="subbuttonadd">
            <a>{{testi.name}}</a><br>
            <a>{{testi.designation}}</a>
          </div>  
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="newarr">
     <h5>BRANDS</h5>
     <p class="test"><p>
    </div>
    <!--    <ion-scroll direction="x" class="wide-as-needed">
          <a ng-repeat="brand in homevalue[0].brand_list">
            <img ng-src="{{brand.image}}">       
          </a>
        </ion-scroll> -->
    <ion-slide-box on-slide-changed="slideHasChanged4($index)" auto-play="true" disable-scroll="true" show-pager="false" does-continue="true" slide-interval="{{interval}}">
      <ion-slide>
        <div class="row">
          <div class="col col-50">
            <img ng-src="{{homevalue[0].brand_list[0].image}}" style="width: 100%">
          </div>
          <div class="col col-50">
            <img ng-src="{{homevalue[0].brand_list[1].image}}" style="width: 100%">
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="row">
          <div class="col col-50">
            <img ng-src="{{homevalue[0].brand_list[2].image}}" style="width: 100%">
          </div>
          <div class="col col-50">
            <img ng-src="{{homevalue[0].brand_list[3].image}}" style="width: 100%">
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="row">
          <div class="col col-50">
            <img ng-src="{{homevalue[0].brand_list[4].image}}" style="width: 100%">
          </div>
          <div class="col col-50">
            <img ng-src="{{homevalue[0].brand_list[5].image}}" style="width: 100%">
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
    <!-- </div>
     <div ng-show="netStatus=0">
       <center>Network connection failed</center>
     </div> -->
  </ion-content>
      <div class="tabs tabs-icon-top">
        <a nav-clear class="tab-item disable-user-behavior active" ng-class="{homeclass:'getclasshome==1'}" title="Home" icon-on="ion-ios-home-outline" icon-off="ion-ios-home-outline" nav-clear ui-sref="app.home">
          <i class="icon ion-ios-home-outline" ng-class="{homeclass:'getclasshome==1'}"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
          Home
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Categories" icon-on="ion-ios-keypad-outline" icon-off="ion-ios-keypad-outline" ui-sref="app.category">
          <i class="icon ion-ios-keypad-outline"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
          Categories
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Customer Login" icon-on="ion-ios-person-outline" icon-off="ion-ios-person-outline" ui-sref="app.login">
          <i class="icon ion-ios-person-outline"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
          Customer Login
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Seller Login" icon-on="ion-ios-unlocked-outline" icon-off="ion-ios-unlocked-outline" ui-sref="app.sellerlogin">
          <i class="icon ion-ios-unlocked-outline"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
          Seller Login
        </a>
    </div> 

</ion-view>




<!--  <ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll> -->