<!--  sellerlogin -->
<ion-view view-title="Sign in" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content >
    <form name="signinform" ng-hide="show == 2 || show==3" novalidate>
      

      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.username" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" required>
        </label>

        <label class="item">
          <button ng-disabled="signinform.$pristine|| signinform.$invalid" ng-click="doLogin()" class="button button-block button-positive" type="submit">Log in</button>        
        </label>
      </div>
      <a ng-click="forgotPasword()">Forgot Password?</a>

      <button ng-click="show = 2" class="button button-block button-positive" type="submit">Create an account</button>
    </form>
    
    <form name="sigupform" ng-show="show==2" style="background-color: #e0e0e0" novalidate>
      <div class="list">      
        <button ng-click="show =1">Back</button>
        <div class="row">
          <div class="col col-50">
            <div class="row p">First Name</div>
            <div class="row"><input type="text" name="firstname" ng-model="signupData.firstname" ng-required="true"></div>
          </div>
          <div class="col col-50">
            <div class="row p">Last Name</div>
            <div class="row" ><input type="text" name="lastname" ng-model="signupData.lastname" ng-required="true"></div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="row p">Email</div>
            <div class="row"><input type="email" name="email" ng-model="signupData.email" ng-required="true"></div>
          </div>
          <div class="col col-50">
            <div class="row p">Date of Birth</div>
            <div class="row" ><input type="text" name="dob" ng-model="signupData.dob" ng-required="true"></div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="row p">Gender</div>
            <div class="row">
              <select name="gender" ng-model="signupData.gender" ng-options="test.id as test.name for test in signupData" style="border: #dbdbdb solid;width:97%;height:35px;" ng-required="true">
                 <option value="">Select Gender</option> 
              </select>
            </div>
          </div>
          <div class="col col-50">
            <div class="row p">Company</div>
            <div class="row" ><input type="text" name="company" ng-model="signupData.company" ng-required="true"></div>
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            <div class="row p">Street</div>
            <div class="row"><textarea type="text" name="street" ng-model="signupData.street" style="margin: 0px; width: 96%; height: 55px;" ng-required="true"></textarea></div>
          </div>
        </div>

        <div class="row">
          <div class="col col-50">
            <div class="row p">City</div>
            <div class="row" ><input type="text" name="city" ng-model="signupData.city" ng-required="true"></div>
          </div>
          <div class="col col-50">
            <div class="row p">Postcode</div>
            <div class="row"><input type="number" name="postcode" ng-model="signupData.postcode" min="0" ng-minlength="6" ng-required="true"></div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="row p">State</div>
            <div class="row" ><input type="text" name="state" ng-model="signupData.state" ng-required="true"></div>
          </div>
          <div class="col col-50">
            <div class="row p">Country</div>
            <div class="row"><!-- <input type="text" name="country" ng-model="signupData.country" ng-required="true"> -->
              <select name="country" ng-model="signupData.country" ng-options="ctry.value as ctry.label for ctry in getCountry" style="border: #dbdbdb solid;width:97%;height:35px;" ng-required="true">
                 <option value="">Select Country</option> 
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="row p">Telephone</div>
            <div class="row" ><input type="number" name="telephone" ng-model="signupData.telephone" min="0" ng-minlength="10" ng-required="true"></div>
          </div>
          <div class="col col-50">
            <div class="row p">Password</div>
            <div class="row" ><input type="text" name="password" ng-model="signupData.password" ng-required="true"></div>
          </div>
        </div> 
        <div class="row">
          <div class="col col-50">
            <div class="row p">Confirm Password</div>
            <div class="row" ><input type="text" name="confirmpassword" ng-model="signupData.confirmpassword" ng-required="true"></div>
          </div>
        </div>

        <button class="button button-positive" ng-click="dosignup(sigupform)" type="submit">Register</button>

       </div>
    </form>
  </ion-content>
</ion-view>
