<!--  sellerlogin -->
<ion-view view-title="Sign in" cache-view="false">
  <ion-content >
    <form name="signinform" ng-hide="show == 2 || show==3">
      

      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.username" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" required>
        </label>

        <label class="item">
          <button ng-disabled="signinform.$pristine|| signinform.$invalid" ng-click="doLogin()" class="button button-block button-positive" type="submit">Log in</button>        
        </label>
      </div>
      <a ng-click="forgotPasword()">Forgot Password?</a>

      <button ng-click="show = 2" class="button button-block button-positive" type="submit">Create an account</button>
    </form>
    

    <form name="sigupform" ng-show="show == 2">
      <div class="list">      

        <label class="item item-input">
          <span class="input-label col col-50">Fist Name </span>:<span class="col col-50">
          <input type="text" ng-model="signupData.firstname" required/></span>
        </label>

        <label class="item item-input">
          <span class="input-label col col-50">Last Name </span>:<span class="col col-50">
          <input type="text" ng-model="signupData.lastname" required/></span>
        </label>

        <label class="item item-input">
          <span class="input-label col col-50">Email-ID</span>:<span class="col col-50">
          <input type="email" ng-model="signupData.emailid" required/></span>
        </label>

         <label class="item item-input">
          <span class="input-label col col-50">Password</span>:<span class="col col-50">
          <input type="password" ng-model="signupData.password" required/></span>
        </label>

       
        <label class="item item-input">
          <span class="input-label col col-50">Confirm Password</span>:<span class="col col-50">
          <input type="password" ng-model="signupData.confirmpassword" required/></span>
        </label>

         <label class="item">
          <button ng-click="dosignup()"  ng-disabled="sigupform.$pristine|| sigupform.$invalid" class="button button-block button-positive" type="submit">Register</button>
        </label>

       </div>
    </form>

    <form name="sellersigupform" ng-show="show==3">
      <div class="list">      
        <div class="row">
          <div class="col col-50">
            <div class="row p">First Name</div>
            <div class="row"><input type="text" name="firstname" ng-model="sell.firstName" ng-required="true"></div>
          </div>
          <div class="col col-50">
            <div class="row p">Last Name</div>
            <div class="row" ><input type="text" name="lastname" ng-model="sell.lastName" ng-required="true"></div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="row p">Date of Birth</div>
            <div class="row"><input type="date" name="dob" ng-model="sell.dob"></div>
          </div>
          <div class="col col-50">
            <div class="row p">Gender</div>
            <div class="row" ><select ng-model="sell.gender" name="gender" ng-options="item.id as item.name for item in names" style="width:100%"></select></div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="row p">Email ID</div>
            <div class="row"><input type="email" name="emailId" ng-model="sell.emailId" ng-required="true"></div>
          </div>
          <div class="col col-50">
            <div class="row p">Mobile Number</div>
            <div class="row" ><input type="number" name="mobileNo" ng-model="sell.mobileNo" ng-minlength="10" ng-required="true"></div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="row p">Password</div>
            <div class="row"><input type="password" name="password" ng-model="sell.password" ng-minlength="6" ng-required="true"></div>
          </div>
          <div class="col col-50">
            <div class="row p">Confirm Password</div>
            <div class="row" ><input type="password" name="confirmPassword" ng-model="sell.confirmPassword" ng-minlength="6" ng-required="true"></div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="row p">Shop Name</div>
            <div class="row"><input type="text" name="shopName" ng-model="sell.shopName" ng-required="true"></div>
          </div>
          <div class="col col-50">
            <div class="row p">Website</div>
            <div class="row" ><input type="text" name="website" ng-model="sell.website" ng-required="true"></div>
          </div>
        </div>
        <div class="row">
         <div class="col col-100">
           <div class="row p">Shop Address</div>
           <div class="row"><textarea  row="4" name="shopAddress" ng-model="sell.shopAddress" ng-required="true" style="width:100%"></textarea></div>
         </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="row p">City</div>
            <div class="row"><input  type="text" name="city" ng-model="sell.city" ng-required="true"></div>
          </div>
          <div class="col col-50">
            <div class="row p">State</div>
            <div class="row" ><input  type="text" name="state" ng-model="sell.state" ng-required="true"></div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="row p">Country</div>
            <div class="row"><input  type="text" name="country" ng-model="sell.country" ng-required="true"></div>
          </div>
          <div class="col col-50">
            <div class="row p">Pin Code</div>
            <div class="row" ><input  type="number" name="pinCode" ng-model="sell.pinCode" ng-minlength="6" ng-required="true"></div>
          </div>
        </div>
          <button ng-click="sellerSign()"  ng-disabled="sellersigupform.$pristine|| sellersigupform.$invalid" class="button button-block button-positive" type="submit">Register</button>
       </div>
    </form>

  </ion-content>
</ion-view>
