<ion-view view-title="My Enquiry Details" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="myGoBack()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="row">
        <div class="col col-40">
          Created Date
        </div>
        <div class="col col-60">
          {{getmyenquiry.create_date}}
        </div>
      </div>
      <div class="row">
        <div class="col col-40 title-center">
          Product Name
        </div>
        <div class="col col-60">
          {{getmyenquiry.product_name}}
        </div>
      </div>
      <div class="row">
        <div class="col col-40">
          Contact Name
        </div>
        <div class="col col-60">
          {{getmyenquiry.contact_name}}
        </div>
      </div>
      <div class="row">
        <div class="col col-40">
          Phone
        </div>
        <div class="col col-60">
          {{getmyenquiry.phone}}
        </div>
      </div>
      <div class="row">
        <div class="col col-40">
          Email
        </div>
        <div class="col col-60">
          {{getmyenquiry.email}}
        </div>
      </div>
      <div class="row">
        <div class="col col-40">
          City
        </div>
        <div class="col col-60">
          {{getmyenquiry.city}}
        </div>
      </div>
      <div class="row">
        <div class="col col-40">
          Overview
        </div>
        <div class="col col-60">
          {{getmyenquiry.overview}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>