<ion-view view-title="My Inbox" cache-view="false">
    <link href="css/enquiry.css" rel="stylesheet">
    <ion-nav-buttons side="left">
        <button ng-hide="selectionActive" class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <button class="button button-icon icon ion-checkmark-circled" 
                ng-show="selectionActive" 
                ng-click="finish()">
        </button>
    </ion-nav-buttons>  
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-trash-b" 
                ng-show="selectionActive" 
                ng-click="delete(list)">
        </button>
    </ion-nav-buttons>  
  <ion-content ng-init="cusinbox()">
       <!-- <div ng-show="netStatus=1"> -->  
          <ion-list>
            <ion-item class="item-remove-animate"
                      letters-of="{{list.reply_subject[0]}}"
                      background="random"
                      border="none"
                      color="white"
                      letters="1"
                      item="{{list}}"
                      ng-repeat="list in getMyinbox[0].inbox" >
                <span ng-click="inboxdetail(list)"><h2 ng-class="{ applybold: list.status == 'New' }">{{list.reply_subject}}</h2>
                <h4 ng-class="{ applybold: list.status == 'New' }">{{list.reply_message}}</h4></span>
            </ion-item>
          </ion-list>
          <ion-list ng-show="getMyinbox.length==0">
            <ion-item>
              You have no messages from seller.
            </ion-item>
          </ion-list>
       <!-- </div>
       <div ng-show="netStatus=0">
        <center>Network connection failed</center>
       </div>     -->  
  </ion-content>
</ion-view>