<ion-view cache-view="false">
  <link href="css/category.css" rel="stylesheet" cache-view="false">

  <!--  <ion-header-bar>                
                 <div class="row headercolor">      
                     <div class="col col-10"> <i class="icon ion-android-arrow-back backward" ng-click="closeproductdetails()"></i></div>
                     <div class="col col-80"> <p class="titlesub">{{subname}}</p></div>
                     <div class="col col-10"> <i class="icon ion-android-cart shoppingcart"><span class="badgetools">{{count}}</span></i> </div>
                </div>
            </ion-header-bar>   -->
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="myGoBack()">
      <i class="icon ion-ios-arrow-back" style="color:#fff"></i>
    </button>
  </ion-nav-buttons>
  <ion-content >

    <!--  <div style="background-color: #ffffff">
                    <img src="{{Image}}" class="imgproduct">
                    </div> -->
    <div style="margin: 6px;">
      <center><img src="{{Image}}" class="imgproduct"></center>
    </div>
    <!-- <div class="row">
    <div class="col col-20"></div>
    <div class="col col-10">  <i class="icon ion-ios-arrow-back"></i></div>
    <div ><ion-scroll direction="x" class="wide-as-needed"></ion-scroll>
      <a ng-repeat="s in [0,1,2,3,4,5]"><img src="{{Image}}" class="smallimgproduct"></a>
   </ion-scroll></div>
    <div class="col col-10">  <i class="icon ion-ios-arrow-back"></i></div>
    <div class="col col-10"></div>
    </div> -->
  
    <center>
       <i class="icon ion-ios-arrow-back"></i>
      <!-- <ion-scroll direction="x" class="wide-as-needed" style="width: 150px;">
      <a ng-repeat="s in [0,1,2,3,4,5]"><img src="{{Image}}" class="smallimgproduct"></a> </ion-scroll> -->
       <ion-slide-box  show-pager="false">
          <ion-slide>
              <img src="{{Image}}" class="smallimgproduct">
              <img src="{{Image}}" class="smallimgproduct">
              <img src="{{Image}}" class="smallimgproduct">
          </ion-slide>
          <ion-slide>
              <img src="{{Image}}" class="smallimgproduct">
              <img src="{{Image}}" class="smallimgproduct">
          </ion-slide>
          <ion-slide>
              <img src="{{Image}}" class="smallimgproduct">
          </ion-slide>
        </ion-slide-box>
      
  
   <!-- <i class="icon ion-ios-arrow-back"></i> -->
    </center>

   <div class="productdetails">
      <p class="productdesc">{{productRes.name}}</p>
      
      <span class="stars alignright ">
          <span  ng-style="{ 'width': getStars(ratings[0].number) }"></span>
           </span> <span style="color:#3D7B93;padding:8px">Be the first to review this product</span>
           <br>
           <div class="p"></div>
         
          

    <p class="productdesc p">SKU : {{productRes.sku}}</p>

    <div class="center">
        <button ng-click="customer()"  class="button login-button">Ask for price</button>
      </div>
    </div>
      <div class="cardspec">
                                
          <div class="row icon-right" ng-click="descClick()">
            <div class="col col-90">Technical Spec</div>
        
            <div class="col col-10" ng-class=" IsVisible  ?  'ion-ios-arrow-down' : 'ion-ios-arrow-forward '"></div>
          </div>
            <div ng-show="IsVisible">
                <div class="row" style="padding: 0px" ng-repeat=" value in spec">
                  <div class="col" style="border: 1px solid">{{value.label}}</div>
                  <div class="col" style="border: 1px solid">{{value.value}}</div>
                </div>
              </div>
          
          </div>

          <div class="cardspec">
                                
              <div class="row icon-right" ng-click="techClick()">
                <div class="col col-90">Description</div>
            
                <div class="col col-10" ng-class=" IsVisible1  ?  'ion-ios-arrow-down' : 'ion-ios-arrow-forward '"></div>
              </div>
                <div ng-show="desc !=null;IsVisible1">

                    <p ng-bind-html="desc"></p>
                  </div>
            
              </div>
   
    <!--  <div class="row" >
                      <div class="col" ng-repeat=" specs in spec">{{specs.value}}</div>
                   
                    </div>
 -->
    <br>
 

  




    <div class="row">
     

    </div>
    <!-- <button ng-click="reviewBtn()" class="button login-button">Review</button> -->


  </ion-content>



  <script id="customerdetails.html" type="text/ng-template">

    <ion-modal-view>

      <ion-header-bar>
        <div class="row headercolor">

          <div class="col col-90">
            <p class="titlesub">Customer Details</p>
          </div>
          <div class="col col-10" ng-click="closeproductdetails()"><i class="icon ion-close-round"></i></div>
        </div>
      </ion-header-bar>
      <ion-content style="background-color: #e0e0e0">

        <form name="customer" ng-submit="customerSubmit(customer)" novalidate>
          <p class="qusproduct">Name *</p>
          <input type="text" name="Name" ng-model="data.Name" ng-required="true" class="customerinput">
          <span style="color:red;margin-left: 19px;" ng-show="customer.Name.$error.required && submitted">Name is required</span>

          <p class="qusproduct">Phone Number</p>
          <input type="number" name="test" ng-model="data.PhoneNumber" class="customerinput">

          <p class="qusproduct">Email-ID *</p>
          <input type="email" name="email" ng-model="data.EmailID" ng-required="true" class="customerinput">
          <span style="color:red;margin-left: 19px;" ng-show="customer.email.$error.required && submitted && customer.email.$invalid">Email is required</span>
          <span style="color:red;margin-left: 19px;" ng-show="customer.email.$invalid && submitted && !customer.email.$error.required">Email is not valid</span>

          <p class="qusproduct">City</p>
          <input type="text" ng-model="data.city" class="customerinput">

          <p class="qusproduct">Brief Overview</p>
          <!-- <input type="textarea" ng-model="data.BriefOverview" class="customerinput" > -->
          <textarea ng-model="data.BriefOverview" style="height: 100px;" class="customerinput"></textarea>

          <button style="background-color: #F69222" type="submit" class="addtocart">SUBMIT</button>
        </form>

      </ion-content>
    </ion-modal-view>
  </script>


  <script id="reviewdetails.html" type="text/ng-template">

    <ion-modal-view>

      <ion-header-bar>
        <div class="row headercolor">

          <div class="col col-90">
            <p class="titlesub">Review Details</p>
          </div>
          <div class="col col-10" ng-click="closereviewdetails()"> <i class="icon ion-close-round"></i></div>
        </div>
      </ion-header-bar>
      <ion-content style="background-color: #e0e0e0">
        <div ng-show="authCode == null">
          <a ng-click="loginpage()">Login</a>
        </div>

        <div ng-show="authCode != null">
          <form name="revie" novalidate>
            <p class="qusproduct">You're Reviewing</p>
            <h4>{{productRes.name}}</h4>

            <p class="qusproduct">Quality</p>
            <ionic-ratings style="font-size: 39px;" name="rating" ratingsobj='ratingsObject' index='0' ng-required="true"></ionic-ratings>

            <p class="qusproduct">Nice Name</p>
            <input type="text" name="input" readonly="true" ng-model="review.name" ng-required="true" class="customerinput">

            <p class="qusproduct">Summay</p>
            <input type="text" ng-model="review.summay" class="customerinput">

            <p class="qusproduct">Review</p>

            <textarea ng-model="review.detail" style="height: 100px;" class="customerinput"></textarea>

            <button style="background-color: #F69222" ng-disabled="ratingstatus==0 || ratingstatus==undefined" ng-click="reviewSubmit(review)" class="addtocart">SUBMIT</button>
          </form>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

</ion-view>