 <ion-view view-title="Seller Sign in" cache-view="false">
   <!-- <ion-nav-buttons side="left">
     <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
     </button>
   </ion-nav-buttons> -->
  <ion-content >
    <form name="sellersigninform" ng-hide="show == 2 || show==3" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" name="username" ng-model="sellerloginData.username" ng-required="true">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="sellerloginData.password" ng-required="true">
        </label>

        <label class="item">
          <button ng-disabled="sellersigninform.$invalid" ng-click="dosellerLogin()" class="button button-block button-positive" type="submit">Log in</button>        
        </label>
      </div>
      <a ng-click="forgotPasword()">Forgot Password?</a>

      <button ng-click="show = 3" class="button button-block button-positive" type="submit">Create an seller account</button>
    </form>


 <form name="sellersigupform" ng-show="show==3" style="background-color: #e0e0e0" novalidate>
            
        <button ng-click="show=1">Back</button>
        <div class="row">
         <div class="col col-50">
          <div class="row">
            <p class="p" ng-class="{ 'has-error' : sellersigupform.firstname.$invalid && submitted }">First Name *</p>
          </div>
          <div class="row">
            <input type="text" name="firstname" ng-model="sell.firstName" ng-required="true" style="width:100%">
          </div>
         </div>

         <div class="col col-50">
           <div class="row">
            <p class="p" ng-class="{ 'has-error' : sellersigupform.lastname.$invalid && submitted }">Last Name *</p>
           </div> 
           <div class="row">
             <input type="text" name="lastname" ng-model="sell.lastName" ng-required="true" style="width:100%">
           </div>
         </div>
        </div>


        <div class="row">
          <div class="col col-50">
           <div class="row">
            <p class="p" ng-class="{ 'has-error' : sellersigupform.dob.$invalid && submitted }">Date of Birth *</p>
           </div> 
           <div class="row">
             <input type="date" name="dob" ng-model="sell.dob" ng-required="true" style="width:100%">
           </div>
          </div>

          <div class="col col-50">
           <div class="row"> 
            <p class="p" ng-class="{ 'has-error' : sellersigupform.gender.$invalid && submitted }">Gender *</p>
           </div> 
           <div class="row"> 
            <select ng-model="sell.gender" name="gender" ng-options="item.id as item.name for item in names" ng-required="true" style="width:100%">
              <option value="">Select Gender</option> 
            </select>
           </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-50">
           <div class="row">
            <p class="p" ng-class="{ 'has-error' : sellersigupform.emailId.$invalid && submitted }">Email ID *</p>
           </div>
           <div class="row">
            <input type="email" name="emailId" ng-model="sell.emailId" ng-required="true" style="width:100%">
           </div>
          </div>

          <div class="col col-50">
           <div class="row"> 
            <p class="p" ng-class="{ 'has-error' : sellersigupform.mobileNo.$invalid && submitted }">Mobile Number *</p>
           </div> 
            <div class="row"> 
             <input type="number" name="mobileNo" ng-model="sell.mobileNo" ng-minlength="10" ng-required="true" style="width:100%">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-50">
            <div class="row"> 
            <p class="p" ng-class="{ 'has-error' : sellersigupform.password.$invalid && submitted }">Password *</p>
            </div>
            <div class="row"> 
            <input type="password" name="password" ng-model="sell.password" ng-minlength="6" ng-required="true" style="width:100%">
            </div>
          </div>
          <div class="col col-50">
          <div class="row"> 
            <p class="p" ng-class="{ 'has-error' : sellersigupform.confirmPassword.$invalid && submitted }">Confirm Password *</p>
          </div>
          <div class="row">   
            <input type="password" name="confirmPassword" ng-model="sell.confirmPassword" ng-minlength="6" ng-required="true" style="width:100%">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-50">
          <div class="row"> 
            <p class="p" ng-class="{ 'has-error' : sellersigupform.shopName.$invalid && submitted }">Shop Name *</p>
            </div>
            <div class="row"> <input type="text" name="shopName" ng-model="sell.shopName" ng-required="true" style="width:100%">
            </div>
          </div>
          <div class="col col-50">
          <div class="row"> 
            <p class="p">Website *</p>
           </div> 
            <div class="row"> <input type="text" name="website" ng-model="sell.website" style="width:100%"></div>
          </div>
        </div>

        <div class="row">
         <div class="col col-100">
          <div class="row"> 
             <p class="p" ng-class="{ 'has-error' : sellersigupform.shopAddress.$invalid && submitted }">Shop Address *</p>
          </div>
          <div class="row"> 
             <textarea  row="4" name="shopAddress" ng-model="sell.shopAddress" ng-required="true" style="width:100%"></textarea>
          </div>
         </div>
        </div>

        <div class="row">
          <div class="col col-50">
           <div class="row"> 
            <p class="p" ng-class="{ 'has-error' : sellersigupform.city.$invalid && submitted }">City *</p>
           </div> 
            <div class="row"> <input  type="text" name="city" ng-model="sell.city" ng-required="true" style="width:100%">
            </div>
          </div>

          <div class="col col-50">
           <div class="row">
            <p class="p" ng-class="{ 'has-error' : sellersigupform.country.$invalid && submitted }">Country *</p>
           </div>
            <!-- <input type="text" name="country" ng-model="signupData.country" ng-required="true"> -->
            <div class="row" ng-init="sell.country='India'">
             <select name="country" ng-model="sell.country"  ng-required="true" style="width:100%">
              <option value="India">India</option>
             </select>
            </div>
          </div>

          <!-- <div class="col col-50">
          <div class="row"> 
            <p class="p" ng-class="{ 'has-error' : sellersigupform.country.$invalid && submitted }">Country *</p>
            </div>
            <div class="row"> 
            <input  type="text" name="country" ng-model="sell.country" ng-required="true" style="width:100%">
            </div>
          </div> -->
        </div>

        <div class="row">
          <!-- <div class="col col-50">
            <div class="row"> 
            <p class="p" ng-class="{ 'has-error' : sellersigupform.state.$invalid && submitted }">State *</p>
            </div>
            <div class="row"> <input  type="text" name="state" ng-model="sell.state" ng-required="true" style="width:100%"></div>
          </div> -->
          <div class="col col-50">
           <div class="row">
            <p class="p" ng-class="{ 'has-error' : sellersigupform.state.$invalid && submitted }">State *</p>
           </div>
           <div class="row">
             <select name="state" ng-model="sell.state" ng-options="region.default_name as region.name for region in getregion" ng-required="true" style="width:100%">
              <option value="">Select State</option>
             </select>
           </div>
          </div>

          <div class="col col-50">
            <div class="row"> 
             <p class="p" ng-class="{ 'has-error' : sellersigupform.pinCode.$invalid && submitted }">Pin Code *</p>
            </div>
            <div class="row"> 
             <input  type="number" name="pinCode" ng-model="sell.pinCode" ng-minlength="6" ng-required="true" style="width:100%">
            </div>
          </div>
        </div>

        <div class="row">
         <div class="col col-offset-33 col-33">
          <button ng-click="sellerSignup(sellersigupform)" class="button button-positive button-block button-small" type="submit">Register</button>
         </div>
        </div>  
    </form>

  </ion-content>
</ion-view>
