<ion-view title="Advertisement" cache-view="false">
  <ion-nav-buttons side="left">
               <button class="button button-clear" ng-click="myGoBack()" >
               <i class="icon ion-ios-arrow-back"></i>
               </button>
    </ion-nav-buttons>   
    <ion-content>
     <div class="card">  
        <div class="row">
         <div class="col col-50">
          Category Name
         </div>
         <div class="col col-50">
          {{advertiselist.category}} 
         </div>
        </div>
        <div class="row">
         <div class="col col-50 title-center">
           Product Image
         </div>
         <div class="col col-50">
          <img ng-src="http://safetyshop.in/home/pub/media/catalog/product{{advertiselist.image}}" alt="Mountain View" style="width: 60px;height: 60px;">
         </div>
        </div>
        <div class="row">
         <div class="col col-50">
           Product Name
         </div>
         <div class="col col-50">
           {{advertiselist.name}}
         </div>
        </div>
        <div class="row">
         <div class="col col-50">
           SKU
         </div>
         <div class="col col-50">
          {{advertiselist.sku}}
         </div>
        </div>
        <div class="row">
         <div class="col col-50">
          Price
         </div>
         <div class="col col-50">
          {{advertiselist.price}}
         </div>
        </div>
        <div class="row">
         <div class="col col-50">
          Stock Status
         </div>
         <div class="col col-50">
          {{advertiselist.stock_status}}
         </div>
        </div>
        <div class="row">
         <div class="col col-50">
          Display Status
         </div>
         <div class="col col-50">
          {{advertiselist.display_status}}
         </div>
        </div>
<!--         <div class="row">
         <div class="col col-50">
          Share
         </div>
         <div class="col col-50">
           <button class="button button-light" ng-disabled="advertiselist.display_status=='Disabled'" ng-click="sharefb('','',advertiselist.url)"><i class="icon ion-social-facebook"></i></button>
         </div>
        </div> -->
        <div class="row">
         <div class="col col-50">
          Last Share
         </div>
         <div class="col col-50">
          {{advertiselist.last_share}}
         </div>
        </div>
  </div>


  <div class="row">
        <div class="col text-right">
          <span>Share with facebook</span>
          <button class="button button-light" ng-disabled="advertiselist.display_status=='Disabled'" ng-click="sharefb('','',advertiselist.url)" style="margin-top: -7px;"><img src="img/facebooklogo.png" style="width: 32px;height:25px; top:0px !important"/></button>
        </div>
  </div>

          <!-- <button class="button button-light" ng-disabled="advertiselist.display_status=='Disabled'" ng-click="facebookShare('','',advertiselist.url)"><i class="icon ion-social-facebook"></i></button>
          <button class="button button-light" ng-disabled="advertiselist.display_status=='Disabled'" ng-click="whatsappShare()"><i class="icon ion-social-whatsapp"></i></button>
          <button class="button button-light" ng-disabled="advertiselist.display_status=='Disabled'" ng-click="twitterShare()"><i class="icon ion-social-twitter"></i></button>     -->
   </ion-content>
</ion-view>