# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

npm-debug.log*
node_modules/
platforms/
www old/
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
