.tabs-top >.tabs, .tabs.tabs-top
{
    top: 0 !important;
}

.has-tabs-top {
  top: 50px !important;
}
.tabs-striped.tabs-background-dark .tabs {
	position: sticky;
    bottom: 0;
    right: 0px;
    top: 0px !important;
}
.item-avatar-left .item-content {
    /*padding-left: 72px;
    min-height: 72px;*/
    top: 0px !important;
}
/*ion-item{
     padding-top: 0;
     padding-left: 0;
     top: 48px; 
  }*/
.applybold {
    font-weight: bold !important;
    font-color: #010101 !important;
}